@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
    to right,
    #0186BA,
    #151F32
    )!important;
}

.profil-img{
	display: block;
	width: 100%;
	object-fit: cover;
}

.thib_container{

}

.thib{
	background:  linear-gradient(
	#3c8340, transparent);
	width: 22rem;
	height: 22rem;
	left: calc(50% - 11rem);
	margin-top: 4rem;
	border-radius: 100%;
	overflow: hidden;
	
}