@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body{
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

/* ------------------------------------------------------ */

.projet-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.projet-div:hover {
    background-image: linear-gradient(
    to right,
	#586930,
    #5fac69
    )!important;
}

/* --------------------------------------------------------------- */

.thib{
	background: linear-gradient( 
		#5f8661, transparent);
		width: 22rem;
		height: 22rem;
		left: calc(50% - 11rem);
		border-radius: 100%;
		overflow: hidden;
	}

	@media screen and (max-width: 800px){
		.thib{
			width: 20rem;
			height: 20rem;
		}
		}
		@media screen and (max-width: 740px){
			.thib{
				width: 15rem;
				height: 15rem;
			}
			}

	@media screen and (max-width: 685px){
		.profil-left-container{
		display: none;
		}
	}

	@media screen and (min-width: 685px){
				.profil-mobile-button{
					display: none;
				}
		}